<ng-container *ngIf="pickedLocations$ |async as pickedLocations">

  <p class="mat-subtitle-2 mb-2">Wybrane punkty: </p>
  <small class="secondary_text" *ngIf="pickedLocations.length == 0">nie wybrano żadnych punków</small>

  <mat-chip-listbox aria-label="Dog selection">

    <mat-chip
      *ngFor="let location of pickedLocations" color="accent"
      (removed)="removedLocation$.next(location)">

      <div class="chip-content">
        <p class="mb-0">{{location.structured_formatting.main_text }}</p>
        <p class="mb-1 secondary_text">{{location.structured_formatting.secondary_text }}</p>
      </div>

      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>

  </mat-chip-listbox>

</ng-container>
