mat-expansion-panel {
  width: 700px;
  position: relative;

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }
}


form {
  position: relative;
  .form-content{
    padding: 0 24px 24px 24px;
  }
}
