<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nowy punkt
      </mat-panel-title>
      <mat-panel-description>
        Rozwiń aby dodać nowy punkt
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
      <mat-step>
        <form [formGroup]="newPointForm">
          <ng-template matStepLabel>Podaj współrzędne</ng-template>
          <mat-form-field>
            <mat-label>Lat</mat-label>
            <input matInput formControlName="lat" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lon</mat-label>
            <input matInput formControlName="lon" required>
          </mat-form-field>

          <button
            [class.focused]="mouseClickListener && !mouseClickListener.closed"
            mat-icon-button (click)="mouseClickListener && !mouseClickListener.closed ?  cancelMapCLickListener(): listenerForMapClick()">
            <mat-icon>colorize</mat-icon>
          </button>

          <div>
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="newPointForm">
          <ng-template matStepLabel>Informację na temat punktu</ng-template>
          <mat-form-field>
            <mat-label>Nazwa</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <div>
            <button clickPreventDefault mat-button matStepperPrevious>Wstecz</button>
            <button clickPreventDefault mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Koniec</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset(); newPointForm.reset()">Reset</button>
          <button mat-raised-button (click)="savePoint()">Zapisz</button>
        </div>
      </mat-step>
    </mat-stepper>


  </mat-expansion-panel>
</mat-accordion>
