.locations-autocomplete {
  width: 100%;


}

.main_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondary_text {
  opacity: 0.5 !important;
  font-size: 0.7rem;
}
