<mat-form-field class=locations-autocomplete *ngIf="locations$ | async as locations">
  <mat-label>Wyszukaj lokalizację</mat-label>
  <input matInput
         aria-label="State"
         [matAutocomplete]="auto"
         [formControl]="searchControl">

  <button *ngIf="searchControl.value" mat-icon-button matSuffix (click)="searchControl.reset()">
    <mat-icon>cancel</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this,locations)">
    <mat-option *ngFor="let location of locations" [value]="location">
      <p class="mb-0 main_text">{{location.structured_formatting.main_text}}</p>
      <p class="mb-1 secondary_text">{{location.structured_formatting.secondary_text}}</p>
    </mat-option>
  </mat-autocomplete>


</mat-form-field>
