body {
  background-color: #303030 !important;
}

/* You can add global styles to this file, and also import other style files */
#toast-container .ngx-toastr {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.cdk-overlay-container {
  z-index: 1002 !important;
}

.secondary_text {
  opacity: 0.5 !important;
  font-size: 0.7rem;
}


.progress-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}


mat-chip.chip-with-summary {
  height: fit-content !important;
  padding: 3px;
  .chip-content {
    max-width: 500px;
    white-space: break-spaces;
  }
}
