.container-fluid {
  position: relative;
  padding: 0;

  .dashboard-container {
    position: absolute;
    z-index: 1001;
    top: 10px;
    right: 10px;
  }

  .summary-container {
    position: absolute;
    z-index: 1001;
    top: 10px;
    right: 750px;
  }
}
